<footer class="p-2 w-full">    
    <div class="informacion-contacto flex gap-2 justify-center">
        <p><span class="font-bold">Correo:</span> likuet.studio@gmail.com</p>
        <p><span class="font-bold">Instagram:</span> @likuet.studio</p>
        <p><span class="font-bold">Teléfono:</span> 611088919</p>
    </div>
</footer>

<style>
    footer {
        position: sticky;
        top: 0;
    }
</style>