---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Title from '../components/Title.astro';
import json from '../../public/data/ilustracion.json';
---

<Layout title="Portfolio">    
    <Title title="Ilustración"></Title>
	<div class="cards grid lg:grid-cols-4 md:grid-cols-2">
        {json.map((project) => (
            <Card
              title={project.nombre}
              background={project.img}
              colSpan={project["col-span"] || "1"}
              rowSpan={project["grid-row"] || "1"}
            />
          ))}        
    </div>
</Layout>

